Repository msosav/Toysnt, pull requests merged in 2023-09, with the labels that each got.

#5 Home
  app/Http/Controllers/HomeController.php
  public/css/app.css
  public/images/Logo.svg
  resources/lang/en/messages.php
  resources/lang/en/navbar.php
  resources/lang/en/titles.php
  resources/lang/es/messages.php
  resources/lang/es/navbar.php
  resources/lang/es/titles.php
  resources/views/home/index.blade.php
  resources/views/layouts/app.blade.php
  routes/web.php
Labels: view

#11 Technique index
  .env.example
  app/Http/Controllers/TechniqueController.php
  app/Models/Technique.php
  composer.lock
  database/migrations/2023_09_04_231231_create_reviews_table.php
  resources/views/layouts/app.blade.php
  resources/views/technique/index.blade.php
  resources/views/technique/show.blade.php
  routes/web.php
Labels: view, technique

#26 Review view
  app/Http/Controllers/TechniqueController.php
  app/Models/Review.php
  app/Models/Technique.php
  database/migrations/2023_09_09_021455_create_reviews_table.php
  resources/views/technique/index.blade.php
  resources/views/technique/show.blade.php
Labels: view, review

#43 borrado de imagenes
  app/Http/Controllers/AdminTechniqueController.php
  app/Interfaces/ImageStorage.php
  app/Util/ImageLocalStorage.php
Labels: controller, admin

#58 Admin review crud
  app/Http/Controllers/CartController.php
  app/Http/Controllers/TechniqueController.php
  app/Models/Item.php
  app/Models/Order.php
  app/Models/Review.php
  app/Models/Technique.php
  database/migrations/2023_09_17_120049_create_items_table.php
  resources/lang/en/app.php
  resources/lang/es/app.php
  resources/views/technique/index.blade.php
  resources/views/technique/show.blade.php
  routes/web.php
Labels: controller, technique

#69 Admin review crud
  app/Http/Controllers/PurchaseController.php
  app/Models/Item.php
  database/migrations/2023_09_19_235641_create_orders_table.php
  database/migrations/2023_09_19_235651_create_items_table.php
  resources/lang/en/app.php
  resources/lang/es/app.php
  resources/views/cart/index.blade.php
  resources/views/layouts/app.blade.php
  resources/views/toy/index.blade.php
  routes/web.php
Labels: controller, toy, technique, item, order, user
